$container-type         : 0;
//---------------------------------//
$max-width-container    : 1140;
$container-padding      : 30;
//---------------------------------//
$max-width              : 1920;
$min-width              : 320;
//---------------------------------//
$container-width        : $max-width-container + $container-padding;
$pc                     : $container-width;
$tablet                 : 992;
$mobile                 : 768;
$mobile-small           : 480;
//---------------------------------//
$ibg-contain            : 1;
$slider-fix             : 0;
//---------------------------------//
$main-font-family       : 'gilroy';
$main-font-weight       : 500;
$main-font-size         : 18;
$main-background-color  :#fff;
$main-font-color        :#333;
$a-focus-active-outline : 0;
$focus-active-outline   : 1;
//---------------------------------//
$color-dark             :#000;
$color-light            :#fff;
$color-purple           :#80f;
$color-yellow           :#fe0;
$color-gray             :#888;
//---------------------------------//
$color-light-gray       :#f6f6f6;
$color-light-blue       :#B3C9FF;
$color-dark-gray        :#333;