<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div data-spollers="767.98" class="column-footer footer__column">
                <button type="submit" data-spoller class="column-footer__title">Страницы с услугами</button>
                <ul>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Основные сведения</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Структура и органы управления образовательной организацией</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Документы</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Образование</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Руководство</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Персональный состав педагогических работников</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Материально-техническое обеспечение и оснащенность образовательного процесса</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Стипендии и иные виды материальной поддержки</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Финансово-хозяйственная деятельность</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Вакантные места для приема (перевода)</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Сотрудники</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Об Учебном комбинате</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Партнеры</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Отзывы</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Реквизиты</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Отчеты АО «Учебный комбинат»</a>
                    </li>
                </ul>
            </div>
            <div data-spollers="767.98" class="column-footer footer__column">
                <button type="submit" data-spoller class="column-footer__title">Меню сайта</button>
                <ul>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Основные сведения</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Структура и органы управления образовательной организацией</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Документы</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Образование</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Руководство</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Персональный состав педагогических работников</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Материально-техническое обеспечение и оснащенность образовательного процесса</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Стипендии и иные виды материальной поддержки</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Финансово-хозяйственная деятельность</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Вакантные места для приема (перевода)</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Сотрудники</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Об Учебном комбинате</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Партнеры</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Отзывы</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Реквизиты</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" aria-label="Навигационные ссылки" class="column-footer__link">Отчеты АО «Учебный комбинат»</a>
                    </li>
                </ul>
            </div>
            <div class="info-footer footer__info">
                <div class="info-footer__title">Напишите нам</div>
                <div class="socials-footer info-footer__socials">
                    <div class="socials-footer__item">
                        <svg class="socials-footer__icon">
                            <use href="@content/icons/sprite.svg#telegram"></use>
                        </svg>
                        <a href="#" aria-label="Телеграм" class="socials-footer__link">telegram_name</a>
                    </div>
                    <div class="socials-footer__item">
                        <svg class="socials-footer__icon">
                            <use href="@content/icons/sprite.svg#viber"></use>
                        </svg>
                        <a href="#" aria-label="Вайбер" class="socials-footer__link">viber_name</a>
                    </div>
                    <div class="socials-footer__item">
                        <svg class="socials-footer__icon">
                            <use href="@content/icons/sprite.svg#whatsapp"></use>
                        </svg>
                        <a href="#" aria-label="Ватсап" class="socials-footer__link">whatsapp_name</a>
                    </div>
                </div>
                <div class="contacts contacts--big info-footer__contacts">
                    <div class="contacts__item">
                        <svg class="contacts__icon">
                            <use href="@content/icons/sprite.svg#call"></use>
                        </svg>
                        <a href="tel:88000000000" class="contacts__link">8 800 000-00-00</a>
                    </div>
                    <div class="contacts__item">
                        <svg class="contacts__icon">
                            <use href="@content/icons/sprite.svg#email"></use>
                        </svg>
                        <a href="mailto:email@email.com" class="contacts__link contacts__link--small">email@email.com</a>
                    </div>
                </div>
                <a href="contacts.html" class="button info-footer__button">Обратный звонок</a>
                <a href="index.html" class="info-footer__logo">ofdr</a>
            </div>
        </div>
        <div class="copy-footer">
            <p class="copy-footer__text">Copyright 2019. Все права защищены</p>
        <div style="color:#fff;font-family:sans-serif;">Вёрстка <a href="https://nikkeyl.github.io/nikkeyl" style="color:#80f;text-decoration:underline">Никита Алманов</a></div>
        </div>
    </div>
</footer>