[data-glitch] {
    $font-size: 100;

    position: relative;
    width: rem(400);
    font-size: rem($font-size);
    line-height: math.div(30, $font-size);
    color: $color-light;

    &::before,
    &::after {
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        overflow: hidden;
        color: #fff;
        background: $color-dark;
        clip: rect(0, rem(900), 0, 0);
    }

    &::before {
        left: rem(-2);
        text-shadow: rem(1) 0 $color-purple;
        animation: noise-anim-2 3s infinite linear alternate-reverse;

        @keyframes noise-anim-2 {
            $steps: 20;

            @for $i from 0 through $steps {
                #{percentage($i * calc(1 / $steps))} {
                    clip: rect(math.random(6) + rem, rem(9999), math.random(6) + rem, 0);
                }
            }
        }
    }

    &::after {
        left: rem(2);
        text-shadow: rem(-1) 0 $color-yellow;
        animation: noise-anim 2s infinite linear alternate-reverse;

        @keyframes noise-anim {
            $steps: 20;

            @for $i from 0 through $steps {
                #{percentage($i * calc(1 / $steps))} {
                    clip: rect(math.random(6) + rem, rem(9999), math.random(6) + rem, 0);
                }
            }
        }
    }
}
